name: Check

on:
  push:
    branches:
      - '**'
    tags:
      - '**'

jobs:
  tests:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v3
      - name: Check if the repository is private
        run: |
          if [[ ${{ github.event.repository.private }} == 'true' ]]; then
            echo "Репозиторий является приватным."
          else
            echo "Репозиторий публичный."
          fi
      - name: Tests
        uses: Yandex-Practicum/test-project-action@v1
        with:
          project: 'posmotri-v-okno-ad'